@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
  --green: #1db954;
  --hover-green : #179242;
  --lightgrey : #2d2d2d;
  --grey: rgb(24, 24, 24);
  --transparent: transparent;
  --black : black;
  --white : white;
}

@font-face {
  font-family: 'Circular Book';
  src: url(./fonts/CircularStd-Book.woff2);
}

@font-face {
  font-family: 'Circular Black';
  src: url(./fonts/CircularStd-Black.woff2);
}

@font-face {
  font-family: 'Circular Bold';
  src: url(./fonts/CircularStd-Bold.woff2);
}

@font-face {
  font-family: 'Circular Medium';
  src: url(./fonts/CircularStd-Medium.woff2);
}

body { margin: 0; }

*{
  font-family: 'Circular Book';
  box-sizing: border-box;
  outline:none;
}

h1,h2,h3,h4,h5,h6,p,span{
  color : var(--white);
}

p{
  font-size: .9rem;
}